@import '_mixins';
$main-color: #FFFFFF;
$content-bg: lighten($main-color, 55%);
$text-color: #b6e2fa;
$disabled-color: #656565;

body {
	height: 100vh;
}

#main-container {
	width: 100vw;
	display: grid;
	grid-template-areas: "navbar" "content-box";
	grid-template-rows: 0.1fr;
	height: 100vh;

}

.btn.focus,
.btn:focus {
	box-shadow: none !important;
}

.popover-body {
	@include scrollbars(4px, rgba(16, 82, 136, 0.8), rgba(16, 82, 136, 0.25));
}

.display-none {
	display: none;
}

.logo-wrapper {
	display: flex;
	cursor: pointer;
	align-items: center;

	img {
		height: 30px;
		width: 30px;
	}

	h1 {
		font-size: 1.5rem;
		font-weight: 900;
		padding-left: 0.3em;
		margin: 0;
	}
}

#sidebar {
	background-color: #FFFFFF;
	flex-shrink: 0;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	grid-area: navbar;
	border-bottom: 0.1px solid darken(#C8CCD1, 10%);
	transition: background-color 0.3s ease-in-out;

	.close-sidebar {
		position: absolute;
		right: 5%;
		font-size: 25px;
		padding: 0.2em;
		line-height: 1;
		top: 0;
		cursor: pointer;
		display: none;
		color: $text-color;
	}

	.user-wrapper {
		display: flex;
		align-items: center;
	}

	.functionality-btn {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.logout-btn {
		margin-left: 1em;
	}

	.dropdown {
		margin-left: 1em;
	}

	.dropdown-item {
		display: flex;
		justify-content: center;
		padding: 0.5vw;
	}


	.site {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		top: 15vh;
		border-top: 1.5px solid rgba(255, 255, 255, 0.2);
		padding-top: 2vw;
	}

	.header-style {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	.lang-icon {
		height: 18px;
		width: 18px;
	}

	.site-options,
	.site-options-phone {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: inherit;

		.option-wrapper {
			cursor: pointer;
			transition: all 0.2s;
			display: flex;
			padding: 0.4em 1em;

			.option-icon {
				flex-shrink: 0;
			}

			svg {
				color: black;
			}


			.option-title {
				padding-left: 0.5em;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&:hover {
				box-shadow: inset 0 0 0.3em 0.3em rgba(0, 0, 0, 0.1);
			}
		}

		.seprator {
			display: flex;
			justify-content: center;
			align-items: center;
			color: rgba(255, 255, 255, 0.5);
		}
	}

	.steps-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 1;
		font-size: 18px;
		color: $text-color;

		.step {
			margin: 0.5em 0;
			opacity: 0.3;
			transition: all 0.3s;
			position: relative;

			&.active {
				opacity: 1;

				&::after {
					position: absolute;
					right: 0;
					top: 50%;
					height: 0.2em;
					width: 0.2em;
					border-radius: 50%;
					background-color: $text-color;
					content: '';
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	.site-options-phone {
		display: none;
	}

	.darkmode-button-phone {
		display: none;
	}

	.dark-mode-toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 0.5vh;

		.darkmode-label {
			cursor: pointer;
			width: 30px;
			height: 30px;
			border-radius: 100px;
			position: relative;
		}

		#darkmode-input {
			display: none;
		}

		.darkmode-icon,
		.lightmode-icon {
			width: 20px;
			height: 20px;
			position: absolute;
			top: 6px;
			left: -2px;
		}

	}

	.documentation-btn {
		display: none;
	}

}

#locales-popover {
	.popover-body {
		padding: 0;
		overflow: auto;
		max-height: 250px;
	}

	.locale-item {
		padding: 0.4em 0.8em;
		cursor: pointer;
		transition: all 0.2s;

		&.active {
			background-color: rgba(180, 180, 180, 0.5);
		}

		&:hover:not(.active) {
			background-color: rgba(180, 180, 180, 0.3);
		}
	
	}
}
	


#content {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	grid-area: content-box;
	justify-content: center;
	align-items: center;
	background-color: $content-bg;
	transition: background-color 0.3s ease-in-out;

	>div:not(.logo-wrapper):not(.footer-wrapper) {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		overflow: auto;
		height: 100%;
		

		@include scrollbars(4px, rgba(16, 82, 136, 0.8), rgba(16, 82, 136, 0.25));

		&#video-settings {
			display: block;
		}
	}

	.footer-wrapper {
		padding: 1em 0;
		font-size: 12px;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	.footer-style {
		color: #54595D;
		font-weight: 500;
	}

	.footer-content-left {
		a {
			text-decoration: none;
		}

	}

	.logo-wrapper {
		justify-content: flex-start;
		width: 100%;
		padding: 1em;
		align-items: center;
		display: none;
	}

}


#url-box {

	.drop-area {
		gap: 2rem;
		margin-bottom: 2rem;
		width: 80%;
		height: 80%;
		border: 3px dashed #A2A9B1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		padding: 2em;
		transition: all 0.3s;
		position: relative;
		background: #F8F9FA;

		&[data-mouseover='true'] {
			border: 3px dashed lighten(#45484b, 40%);
		}
	}

	.url-box-container {
		background-color: #ffffff;
		height: 70%;
		width: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding-left: 1rem;
		padding-right: 1rem;
		border-radius: 8px;

	}

	.drop-area-click {
		z-index: 0;
		cursor: pointer;
		background-color: #F8F9FA;
		color: #3366CC;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 130px;
		height: 45px;
		border: solid #A2A9B1 1px;
		font-weight: 800;
	}

	.upload-info-message {
		font-size: 2.1rem;
		font-weight: 700;
		text-align: center;
		pointer-events: none;
		z-index: 1;
	}

	.inputbox-url {
		background-color: #ffffff;
		border: none;
	}

	input {
		z-index: 1;

	}

	.url-input {
		border: none;
	}

	.upload-url-input {
		width: 80%;
		height: 15%;
		border: solid 1px #A2A9B1;

	}

	.upload-url-input .url-input:focus {
		border-color: #3366CC;
		/* Change the border color when input is focused */
		box-shadow: 0 0 0 0.2rem rgba(51, 102, 204, 0.25);
		/* Optional: Add a box-shadow when input is focused */
		/* You can also change the text color if needed */
		/* color: #3366CC; */
	}

	.or-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		width: 100%;
	}

	.left-line {
		width: 10%;
		height: 1px;
		background-color: #B0B0B0;
	}

	.right-line {
		width: 10%;
		height: 1px;
		background-color: #B0B0B0;
	}

	.or-text {
		color: #B0B0B0;
	}

	&[data-mouseover='true'] {
		border: 3px dashed lighten(#0087f7, 40%);
	}

}

#results-container {
	padding: 2em 8em 0 8em;
	max-width: calc(1100px + 16em);
	overflow: auto;
	display: initial !important;
	align-items: center;
	justify-content: center;

	&[data-show-progress='true'] {
		.upload-progress-container {
			display: flex;
		}

		.videos-container {
			display: none;
		}
	}

	>div {
		width: 100%;
	}

	.alignment {
		display: flex;
		gap: 1rem;
	}

	.video-results-wrapper {
		width: 100%;
		font-size: 14px;

		input,
		textarea,
		.btn,
		label,
		.input-group-text {
			font-size: 1em;
		}

		.button-title {
			margin-left: 0.5em;
		}

		.video-results-header {
			width: 100%;
			border-bottom: 1px solid;
			padding-bottom: 0.8em;
			margin-bottom: 0.8em;
			display: flex;

			a,
			.btn {
				flex-shrink: 0;
			}

			h5 {
				max-width: 100%;
				word-wrap: break-word;
				word-break: break-all;
				overflow: visible;
				white-space: normal;
			}
		}

		.input-group-style {
			display: flex;
			flex-direction: column;
			width: auto;
		}

		.input-lable-style {
			font-weight: 900;
			margin-top: auto;

		}

		.input-input-style {
			width: 100%;

		}

		.disabled-input {
			color: #888;

		}

		.pen-button {
			background-color: transparent;
			border: none;
		}



		.down-button {
			display: none;
		}

		.video-results-body {
			display: flex;

			.video-player-wrapper {
				width: 60%;
				padding-right: 4em;
				display: flex;
				justify-content: center;
				align-items: center;

				#video-player-container {
					width: 100%;

				}

				.video-options {
					width: 40%;
				}
			}


		}
	}

	.display-none {
		display: none;
	}

	.upload-button .btn {
		font-size: 14px;

	}

	.upload-button {
		display: flex;
		justify-content: space-between;
	}

	.upload-progress-container {
		pointer-events: none;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

#video-settings-process {
	padding: 2em 8em 0 8em;
	max-width: calc(1100px + 16em);

	.current-process-task {
		font-size: 18px;
		margin: 1em 0;
	}
}

#video-settings {
	padding: 2em 8em 0 8em;
	max-width: calc(1100px + 16em);

	.video-wrapper {
		min-height: 0;
		display: flex;
		justify-content: center;
		flex-shrink: 0;
	}

	.strip-section {
		background-color: #E0E0E0;
		height: 50px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.video-manipulations {
		width: 100%;
		min-height: 200px;
		flex-shrink: 0;

		.btn {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 14px;

			.setting-title {
				margin-left: 1em;
			}

			.modified {
				position: absolute;
				border-radius: 50%;
				background-color: lightgreen;
				top: 8%;
				right: 3%;
				height: 0.5em;
				width: 0.5em;
			}
		}
	}
}


#notification-wrapper {
	position: fixed;
	top: 4rem;
	right: 1%;
	min-width: 250px;
	z-index: 50;

	.toast {
		border-radius: 0;
		display: grid;
		border: 1px solid;
		grid-template-areas: "icon header" "icon body" "icon footer";

		.notification-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2em;
			padding: 0.7em;
			grid-area: icon;
		}

		.notification-header {
			padding: 0.2em 1em;
			display: flex;
			align-items: center;
			grid-area: header;
		}

		.notification-body {
			padding: 0.2em 1em;
			display: flex;
			align-items: center;
			grid-area: body;
		}

		.notification-footer {
			grid-area: footer;
		}

		&[data-type='success'] {
			$color: #28a745;
			$text-color: darken($color, 30%);
			$border-color: darken($color, 10%);

			border-color: $text-color;

			.notification-icon {
				background-color: $color !important;
				color: $text-color;
			}

			.notification-header,
			.notification-body {
				color: $text-color;
				border-bottom: 0;
			}
		}

		&[data-type='error'] {
			$color: #b33939;
			$text-color: darken($color, 30%);
			$border-color: darken($color, 10%);

			border-color: $text-color;

			.notification-icon {
				background-color: $color !important;
				color: $text-color;
			}

			.notification-header,
			.notification-body {
				color: $text-color;
				border-bottom: 0;
			}
		}

		&[data-type='info'] {
			$color: #34ace0;
			$text-color: darken($color, 30%);
			$border-color: darken($color, 10%);

			border-color: $text-color;

			.notification-icon {
				background-color: $color !important;
				color: $text-color;
			}

			.notification-header,
			.notification-body {
				color: $text-color;
				border-bottom: 0px;
			}
		}

		&[data-type='warning'] {
			$color: #FFCC00;
			$text-color: darken($color, 30%);
			$border-color: darken($color, 10%);

			border-color: $text-color;

			.notification-icon {
				background-color: $color !important;
				color: $text-color;
			}

			.notification-header,
			.notification-body {
				color: $text-color;
				border-bottom: 0px;
			}
		}
	}
}

@media (max-width: 768px) {
	body[data-sidebar='show'] {
		#sidebar {
			width: 250px;
			transform: translateX(0);
		}

		#content {
			transform: translateX(10%);
		}
	}

	.header-style {
		display: none;
	}

	#sidebar {
		height: 100vh;
		width: 250px;
		transform: translateX(-100%);
		position: fixed;
		z-index: 5;
		transition: all 0.3s ease-in-out;
		flex-direction: column;
		justify-content: space-between;



		.user-wrapper {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 5vh;
			padding: 0 0 0 4vw;
		}

		.display-none-mobile {
			display: none;
		}

		.site-options-phone {
			width: inherit;
		}

		.functionality-btn {
			flex-direction: column;
			padding-top: 1vw;
			height: 10vh;
			justify-content: space-between;
		}

		.logout-btn {
			margin-left: 0;
		}

		.logo-wrapper {
			display: none;
		}

		.close-sidebar {
			display: block;
		}

		.site-options-phone {
			display: flex;
			justify-content: center;
			color: $text-color;
		}

		.darkmode-button-phone {
			display: block;
		}

		.dropdown {
			display: none;
		}

		.documentation-btn {
			display: flex;
		}
	}

	#content {
		height: 100vh;
		transition: all 0.3s ease-in-out;

		.display-none-mobile {
			display: none;
		}

		>div:not(.logo-wrapper) {
			padding: 2em;
		}

		.logo-wrapper {
			display: flex;

			.menu-icon {
				padding-right: 1em;
				cursor: pointer;
			}
		}

		#url-box {
			.drop-area {
				.upload-url-input {
					width: 100% !important;
				}


			}

			.url-box-container {
				width: 100%;
				height: 70%;
			}

			.upload-info-message {
				font-size: 1rem;

			}
		}

	}


	.wikimediaicon {
		width: 26px;
		height: 32px;
	}

	.vct-icon {
		width: 15px;
		height: 15px;
	}

	#video-settings {
		.video-manipulations .btn {
			font-size: 11px;
		}

		.video-manipulation-group {
			margin-top: 3.7rem;
			width: 100%;
		}

		.btn-group-vertical {
			height: 30px;
		}

	}

	#trim-video-wrapper .video-range-box .video-marker::after {
		color: $text-color;
	}

	#results-container {
		.alignment {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		.video-results-wrapper .pen-button {
			background-color: transparent;
		}

		.input-dropdown {
			display: flex;
			justify-content: space-between;
			// background-color: #EBECF0;
		}

		.video-results-wrapper .down-button {
			display: block;
			background-color: transparent;
			border: none;
		}

		.upload-button {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			justify-content: space-between;
		}

	}

}